/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.vr_content_list_item {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid lightgray;
}

.vr_content_list_item .content-col {
	flex: 1;
	justify-content: space-between;
	width: 25%;
	margin: 10px 0 10px 0;
}

.vr_user_content_wrapper {
	padding: 30px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, .11);
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 45px;
}

.vr_user_content_header {
	background-color: #c12026 !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 18px 30px;
	font-weight: 400;
	margin: 0;
	display: block;
	border: 1px solid rgba(0, 0, 0, .11);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.11);
	border-bottom: none;
}

.vr_user_content_header .title {
	font-weight: 600;
	font-size: 20px;
	color: white;
}

.immerse_lms_btn-load-more {
	margin: auto;
}

.spinner {
	display: none;
}

.spinner-load-more {
	display:block;
	visibility: hidden;
}

.fc-button {
	width: 60px !important;
}

.fc-content {
	font-size: 1.1em;
}

#list-view{
	display: none;
}

#class-calendar-wrapper {
	margin-bottom: 1em;
}

.fc h2{
	margin: 0 !important;
}

.fc-view td
{
	margin: 0 !important;
	padding: 0 !important;
}

.fc-widget-header,
.fc-widget-content,
.fc-head-container,
.fc-day-top {
	padding: 0 !important;
}

.fc table {
	margin: 0 !important;
	padding: 0 !important;
}

.fc-day-number {
	padding-right: 8px!important;
}


@media screen and (max-width: 720px) {
	.vr_content_list_item {
		display: block;
	}
	.vr_content_list_item .content-col {
		width: 100% !important;
		margin: 10px 0 10px 0;
	}
	.fc-header-left, .fc-header-center, .fc-header-right {
		width: 100%;
		display: block;
	}
}

/********** Tutor Dashboard Page: Quiz Statistics **********/
#tablepress-QuizStat_wrapper #tablepress-QuizStat_filter {
	margin-bottom: 10px;
}

#tablepress-QuizStat_wrapper #tablepress-QuizStat thead th {
	background: #e3e9f0;
}

#tablepress-QuizStat_wrapper #tablepress-QuizStat tbody td {
    padding: 8px 14px;
}

#tablepress-QuizStat_wrapper #tablepress-QuizStat tbody td:empty {
    display: none;
}

#tablepress-QuizStat_wrapper #tablepress-QuizStat_info {
    margin-top: 10px;
}

/********** Assessment Grading List Page **********/
.ilms-flex-parent {
	display: flex;
	margin: 0 -10px;
}

.ilms-flex-parent .ilms-flex-child {
    padding: 0 10px;
}

.ilms-flex-parent .ilms-flex-child.ilms-flex-child-4 {
    flex: 33.33%;
}

.ilms-custom-form .ilms-form-section {
	margin-top: 15px;
}

.ilms-custom-form .form-control {
	display: block;
	width: 100%;
	margin-top: 5px;
}

.ilms-custom-form .buddyboss-select-inner {
    margin-top: 5px !important;
    height: 36px;
    border: none !important;
    background-color: rgba(0,0,0,.04) !important;
    -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.05);
    color: rgba(0,0,0,.8);
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: 1.4;
    outline: 0;
}

.assessment-grading-list-search-form .form-control-quizzes {
    min-height: 283px;
    border: none !important;
    background-color: rgba(0,0,0,.04) !important;
    -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.05);
    color: rgba(0,0,0,.8);
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: 1.4;
    outline: 0;
}

.assessment-grading-list-search-form .form-control-quizzes option {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.assessment-grading-list-search-form .ilms-form-section-grade .form-group {
    width: 33.33%;
}

.assessment-grading-list-search-form .ilms-form-section-grade .form-group .buddyboss-select {
	width: calc(100% - 30px);
}

.assessment-grading-list-search-form .ilms-form-section-buttons {
    margin-top: 20px;	
}

.assessment-grading-list-search-form .ilms-form-section-buttons a.button {
	margin-left: 10px;
}

.assessment-grading-list-search-form .ilms-form-section-buttons button i {
    margin-right: 5px;
}

.assessment-grading-list-search-results {
	margin-top: 50px !important;
	background: #fff;
}

.assessment-grading-list-search-results th,
.assessment-grading-list-search-results td {
	padding: 20px !important;
}

.assessment-grading-sheet-form h3,
.assessment-grading-sheet-form h5 {
	margin: 0 !important;
}

.ilms-flex-parent .ilms-flex-child.ilms-flex-child-2 {
    flex: 50%;
}

.assessment-grading-sheet-form .ilms-flex-parent {
    margin-top: 20px;
}

.assessment-grading-sheet-list {
    margin-top: 30px !important;
}

.assessment-grading-sheet-list li {
	margin: 0 !important;
	list-style-type: none;
	background: #fff;
	padding: 25px !important;
}

.assessment-grading-sheet-list li > div + div {
	margin-top: 10px;
}

.assessment-grading-sheet-list li + li {
	border-top: 1px solid #dedede;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-grade label {
	cursor: pointer;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-grade .assessment-grading-sheet-grade-main i {
    margin-right: 8px;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-grade .assessment-grading-sheet-grade-main.assessment-grading-sheet-grade-main-correct {
    color: #4aaf83;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-grade .assessment-grading-sheet-grade-main.assessment-grading-sheet-grade-main-incorrect {
    color: #c12026;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-question,
.assessment-grading-sheet-list li .assessment-grading-sheet-answer {
	margin-top: 0;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-answer .options {
    display: flex;
    align-items: center;
    padding: 2px 10px;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-answer .options .option-user-answer {
    width: 10px;
    height: 10px;
    border: 2px solid #c12026;
    border-radius: 10px;
    margin-right: 10px;	
}

.assessment-grading-sheet-list li .assessment-grading-sheet-answer .options .option-user-answer.option-user-answered {
	background: #c12026;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-answer .options .option-choices {
	width: 100%;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-answer.assessment-grading-sheet-answer-adjust {
	margin-top: 10px;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-answer .assessment-grading-sheet-student-answer {
	margin-top: 5px;
	margin-bottom: 5px;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-answer table.matrix_sort_answer {
    border: 1px solid #e4e4e3;
}

.assessment-grading-sheet-list li .assessment-grading-sheet-answer table.matrix_sort_answer td {
    padding: 15px;
    font-size: 1rem;
}

/********** Quiz History Page **********/

table.attempts {
	background: #fff;
	margin-bottom: 0 !important;
}

table.attempts tr th {
    background: #3d3d3c;
    color: #fff;
}

table.attempts tr th:first-child,
table.attempts tr td:first-child {
	max-width: 160px;
}

table.attempts tr th:nth-child(2),
table.attempts tr td:nth-child(2) {
    max-width: 35px;
}

table.attempts tr th,
table.attempts tr td {
	padding: 10px;
	border: none;
}

table.attempts tbody tr {
    border-top: 1px solid #e4e4e3;
}

table.attempts tbody tr[data-row-type='detail'] {
    background: #f7f7f7;
}

table.attempts tr td button.button {
	font-size: 11px;
	max-width: 84px;
    padding: 4px 0px;
}

table.attempts tr td a.view-buttons {
    background: #cdd7e2;
    color: #c11f26;
    padding: 1px;
    display: inline-block;
    border-radius: 3px;
    margin-top: 5px;
    min-width: 140px;
    text-align: center;
}

table.attempts tr td a.view-buttons:hover {
    background: #e4e8ec;
}

table.attempts tr td .assessment-grading-sheet-answer .options {
    display: flex;
    align-items: center;
    padding: 2px 10px;
}

table.attempts tr td .assessment-grading-sheet-answer .options .option-user-answer {
    width: 10px;
    height: 10px;
    border: 2px solid #346a87;
    border-radius: 10px;
    margin-right: 10px;	
}

table.attempts tr td .assessment-grading-sheet-answer .options .option-user-answer.option-user-answered {
	background: #346a87;
}

table.attempts tr td .assessment-grading-sheet-answer .options .option-choices {
	width: 100%;
}

table.attempts tr td .assessment-grading-sheet-answer table.matrix_sort_answer {
	border: 1px solid #e4e4e3;
	margin-top: 10px;
    margin-bottom: 0;
}

table.attempts tr td .assessment-grading-sheet-answer table.matrix_sort_answer td {
	padding: 10px;
}

table.attempts tr td .assessment-grading-sheet-answer .essay_answer_section_header,
table.attempts tr td .assessment-grading-sheet-answer .matrix_sort_answer_section_header {
	margin-top: 10px;
	text-transform: uppercase;
}

.quiz-history-latest-quiz .ilms-flex-parent .ilms-flex-child h3,
.quiz-history-latest-quiz .ilms-flex-parent .ilms-flex-child h5 {
	margin: 0 !important;
}

.quiz-history-latest-quiz .ilms-flex-parent {
    margin-top: 20px;
}

.quiz-history-latest-quiz .essay_answer_section_header,
.quiz-history-latest-quiz .matrix_sort_answer_section_header {
	margin-top: 5px;
}

.quiz-history-latest-quiz table.matrix_sort_answer {
	margin-top: 5px;
    margin-bottom: 0;
}

.attempts-wrapper {
	display: block;
	width: 100%;
	overflow-x: auto;
}

/********** Tutor Dashboard Page: LMS Overview **********/
.ld-propanel-widget-overview .stat-inner {
    background: none !important;
}

.ld-propanel-widget-overview .stat-inner h2.stat-label {
	margin: 0;
}

.ld-propanel-widget-overview .stat-inner h2.stat-label a {
	color: #666 !important;
	text-decoration: none !important;
}

.ld-propanel-widget-overview .stat-inner strong.stat {
	margin: 0;
	margin-top: 5px;
}

.ld-propanel-widget-overview .stat-inner strong.stat a {
	color: #666 !important;
	text-decoration: none !important;
}

.ld-propanel-widget-overview .propanel-stat.propanel-assignments,
.ld-propanel-widget-overview .propanel-stat.propanel-essays {
    margin-top: 10px;
}

/********** Tutor Dashboard Page: User Activity **********/
.ld-propanel-widget-activity .report-header .report-pagination .ld-propanel-reporting-pager-info > button,
.ld-propanel-widget-activity .report-header .report-pagination .ld-propanel-reporting-pager-info > span {
	width: 45px;
	padding: 13px !important;
	outline: none !important;
}

.ld-propanel-widget-activity .report-header .report-pagination .ld-propanel-reporting-pager-info > button.prev,
.ld-propanel-widget-activity .report-header .report-pagination .ld-propanel-reporting-pager-info > button.next,
.ld-propanel-widget-activity .report-header .report-pagination .ld-propanel-reporting-pager-info > button.last {
    margin-left: 2px !important;
}

.ld-propanel-widget-activity .report-header .report-pagination .ld-propanel-reporting-pager-info > button.prev {
	margin-right: 2px !important;
}

.ld-propanel-widget-activity .report-header {
    display: flex;
    margin: 10px 0 25px;
}

.ld-propanel-widget-activity .report-header .report-pagination {
    width: auto !important;
    float: none !important;
    clear: none !important;
}

.ld-propanel-widget-activity .report-header .report-exports {
	margin-left: auto !important;
	text-align: left !important;
	width: auto !important;
    float: none !important;
    clear: none !important;
}

.ld-propanel-widget-activity .report-header .report-exports span.dashicons {
    margin-top: 0 !important;
}

.ld-propanel-widget-activity .report-header .report-pagination .ld-propanel-reporting-pager-info > button:hover {
    color: #c12026 !important;
}

.ld-propanel-widget-activity .report-header .report-exports .download-activity + .download-activity {
    margin-left: 2px;
}

/********** Tutor Dashboard Page: General **********/
.tutor-dashboard-list {
    list-style-type: none !important;
}

.tutor-dashboard-list li {
    margin-left: 0 !important;
}

.tutor-dashboard-list li + li {
	margin-top: 5px;
}

/********** Tutor Dashboard Page: Filter Report **********/
.ld-propanel-widget-filtering .table-actions-wrap .section-toggles a {
    font-size: 1rem !important;
    color: #5d5e60 !important;
    padding: 10px !important;
    height: auto !important;
}

.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions {
	margin-top: -1px !important;
	padding: 25px !important;
	display: flex !important;
	flex-flow: row wrap;
	align-items: center;
    box-shadow: none !important;
}

.ld-propanel-filters-wrap .table-actions-wrap .reporting-actions .select2-selection {
	display: flex !important;
    padding: 5px !important;
    height: auto !important;
}

.ld-propanel-filters-wrap .table-actions-wrap .reporting-actions .select2-selection .select2-selection__arrow {
    position: relative !important;
}

.ld-propanel-filters-wrap .table-actions-wrap .reporting-actions select#ld-propanel-pagesize {
	font-size: 1rem !important;
	padding: 9px 10px !important;
	border-radius: 4px !important;
	margin-left: 8px !important;
	min-width: 131px !important;
	border-color: #aaa9aa !important;
	color: #737373 !important;
}

.ld-propanel-filters-wrap .table-actions-wrap .reporting-actions .filter-selection {
    color: #737373 !important;
}

.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions .filter-section-courses > .select2.select2-container,
.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions .filter-section-users > .select2.select2-container,
.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions .filter-section-courseStatus > .select2.select2-container {
	min-width: 160px;
}

.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions .filter-section-courseStatus > .select2.select2-container .filter-courseStatus-select2 {
    display: block !important;
    max-height: 40px;
    height: 40px !important;
    line-height: 5px;
    padding: 0px !important;
    text-align: left;
    border: 1px solid #aaa9aa;
}

.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions .filter-section-courseStatus > .select2.select2-container .filter-courseStatus-select2 ul.select2-selection__rendered {
	padding-left: 10px;
    font-size: 14px;
}

.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions .filter-section-courseStatus > .select2.select2-container .filter-courseStatus-select2 ul.select2-selection__rendered li {
    margin-left: 0;
}

.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions .filter-section-courses > .select2.select2-container .select2-selection__arrow,
.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions .filter-section-users > .select2.select2-container .select2-selection__arrow,
.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions .filter-section-courseStatus > .select2.select2-container .select2-selection__arrow {
    margin-left: auto;
}

.ld-propanel-widget-filtering .table-actions-wrap .reporting-actions > p:nth-last-child(2) {
    margin: 0 0 0 25px;
}

#filter-report .ld-propanel-widget-reporting {
	display: none;
}

.immerse-lms-masquerade-notification {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	position: fixed;
	bottom: 0;
	color: white;
	width: 100%;
	text-align: center;
	border-top: solid rgb(192, 94, 94) 1px;
	z-index: 9999;
	padding: 3px 0;
	background: rgb(167, 62, 59);
	background: repeating-linear-gradient( 45deg, rgba(167, 62, 59, 1), rgba(147, 49, 46, 1) 10px, rgba(167, 62, 59, 1) 10px, rgba(173, 72, 69, 1) 20px );
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.43);
}
.immerse-lms-masquerade-notification a {
	font-weight: bold;
	color: white !important;
	text-decoration: none;
}
.immerse-lms-masquerade-notification a:hover {
	text-decoration: underline;
}

.li-masq {
	position: absolute !important;
	right: 0 !important;
	margin-top: -50px !important;
}

.li-masq .masquerade-link {
	border-radius: 3px !important;
	min-width: 150px;
	font-size: .9rem;
	padding: 10px 14px;
	line-height: 22px;
	box-shadow: none;
	background: #c12026 !important;
	text-transform: uppercase;
	outline: none !important;
	color: #fff;
	margin-right: 15px;
}