/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .immerselms-binary-selector {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0
}

.immerselms-binary-selector table.immerselms-binary-selector-table {
    width: 100%
}

.immerselms-binary-selector .immerselms-binary-selector-section-left {
    width: 47%;
    float: left
}

.immerselms-binary-selector .immerselms-binary-selector-section-middle {
    width: 5%;
    float: left;
    text-align: center;
    margin-top: 8%
}

.immerselms-binary-selector .immerselms-binary-selector-section-right {
    width: 47%;
    float: left
}

.immerselms-binary-selector .immerselms-binary-selector-section .immerselms-binary-selector-items {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%
}

.immerselms-binary-selector .immerselms-binary-selector-section .immerselms-binary-selector-items>.immerselms-binary-selector-item {
    padding: .15em 0;
    width: 100%
}

.immerselms-binary-selector-items {
    min-height: 250px;
}

.immerselms-binary-selector .immerselms-binary-selector-search {
    width: 100%;
    float: left
}

.immerselms-binary-selector .immerselms-binary-selector-section-left option.immerselms-binary-selector-item-disabled {
    text-decoration: line-through
}

.immerselms-binary-selector ul.immerselms-binary-selector-pager {
    width: 100%
}

.immerselms-binary-selector ul.immerselms-binary-selector-pager li.immerselms-binary-selector-pager-prev {
    width: 30%;
    float: left;
    text-align: left
}

.immerselms-binary-selector ul.immerselms-binary-selector-pager li.immerselms-binary-selector-pager-info {
    width: 40%;
    float: left;
    text-align: center
}

.immerselms-binary-selector ul.immerselms-binary-selector-pager li.immerselms-binary-selector-pager-next {
    width: 30%;
    float: left;
    text-align: right
}

.immerselms-binary-selector ul.immerselms-binary-selector-pager a {
    text-decoration: none;
    padding: 0 5px;
    display: block
}

.immerselms-binary-selector ul.immerselms-binary-selector-pager a:hover {
    background-color: inherit
}

.vreddo-content-ajax-msg {
	display: none;
	padding: 5px;
	margin-left: 10px;
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.3);
}

.vreddo-content-ajax-success {
	border-left: 3px solid green;
}

.vreddo-content-ajax-error {
	border-left: 3px solid red;
}

.vreddo-content-ajax-warning {
	border-left: 3px solid orange;
}

#vreddo-licensed-downloads .spinner {
	float: left;
	
}

.vr-store-list { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 49%;
	height:350px;
	float: left;
	border: 1px solid #aaa;
	min-height: 350px;
	overflow: scroll;
	
}

.vr-store-list h4{ 
	padding-left: 10px;
	
}

.vr-store-list li { 
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 200px;
	height: 100px;
	font-size: 4em;
	text-align: left;
	border: none;
	cursor: grab;
}

.vr-store-list#sortable1 li.ui-state-highlight{ 
	background-color: #fbfba5;
	background-image: url(../images/drop_icon.png);
	background-repeat:no-repeat;
	background-position: center center;
}

.vr-store-list#sortable2 li.ui-state-highlight{ 
	background-color: #dbeeda;
	background-image: url(../images/check_icon.png);
	background-repeat:no-repeat;
	background-position: center center;
}

.vr-store-list img { 
	
	float: left;
	margin-right: 5px;
}

.acf-field[data-key=vr_content_row_id], .acf-field[data-key=vr_content_id] {
	display: none;
}